site_name: MICRORACK Documentation
site_url: https://docs.microrack.org
site_description: User guides and tutorials for MICRORACK modular synthesizer system
site_author: MICRORACK

repo_name: microrack/docs
repo_url: https://github.com/microrack/docs-test

theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: deep purple
      accent: green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: deep purple
      accent: green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github
  logo: assets/logo.png
  favicon: assets/favicon.png

plugins:
  - search
  - minify:
      minify_html: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.mark
  - admonition
  - tables
  - attr_list
  - md_in_html
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/microrack
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/microrack
  generator: false

copyright: Copyright &copy; 2024-2025 MICRORACK

nav:
  - Home: index.md
  - Getting Started:
    - Introduction: getting-started/index.md
    - First Steps: getting-started/first-steps.md
    - Setup: getting-started/setup.md
  - Modules:
    - VCO: modules/vco.md
    - VCF: modules/vcf.md
    - VCA: modules/vca.md
    - ADSR: modules/adsr.md
    - LFO: modules/lfo.md
    - Mixer: modules/mixer.md
  - Ecosystem:
    - Power: ecosystem/power.md
    - I/O: ecosystem/io.md
    - Chassis: ecosystem/chassis.md
    - Chaining: ecosystem/chaining.md
    - Compatibility: ecosystem/compatibility.md
    - Use Cases: ecosystem/use-cases.md
  - Tutorials:
    - Overview: tutorials/index.md
    - Bass Patch: tutorials/bass-patch.md
    - Ambient Pad: tutorials/ambient-pad.md
  - User Guide:
    - Overview: user-guide/index.md
    - Patching Techniques: user-guide/patching-techniques.md
    - Sound Design: user-guide/sound-design.md
